@import '../../styles/partials/typeography.scss';
@import '../../styles/partials/variables.scss';

body {
  margin: 1rem;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease, color 0.3s ease;

  &.light-theme {
    --background-color: #f5f5f5;
    --text-color: #080808;
    --border-color: black;
    --link-color: var(--text-color);
  }

  &.dark-theme {
    --background-color: #080808;
    --text-color: #f5f5f5;
    --border-color: #f5f5f5;
    --link-color: var(--text-color);
  }
}

a {
  text-decoration: none;
  color: var(--link-color);
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}