@use './variables' as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}


@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin outer-borders {
  border-top: 2px solid black;
}

@mixin color-borders {
  border: 2px solid; 
  border-image-slice: 1;
  border-image-source: linear-gradient(to top right, $analogous-color-2, $analogous-color-1);
  background-color: transparent;
}

@mixin cards {
  @include flex-column-center;
        padding: 1rem;
        margin: 1rem;
        width: 14rem;
          @include tablet {
              width: 17rem;
              }
}

@mixin hover {
  transition: transform 0.3s ease-in-out;   
        &:hover {
        transform: scale(1.05);
        } 
}

@mixin buttons {
  @include color-borders;
        font-family: $c9c-main-font;
        text-transform: uppercase;
        padding: 1rem;
        margin: 1rem;
        color: white;
        cursor: pointer;
        @include hover;
}