//break points
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

//main branding 
$c9c-main-color: #4489c8;
$c9c-secondary-color: #525151;

$c9c-main-font: 'comfortaa', sans-serif;
$c9c-secondary-fonts: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

//Complementary  colors
$complementary-color: #c88444;
$analogous-color-1: #4464c8;
$analogous-color-2: #44c8c8;
$triadic-color-1: #c84489;
$triadic-color-2: #89c844;
