@import '../../styles/partials/typeography.scss';
@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/variables.scss';

.hero {
    @include outer-borders;
    @include flex-column-center;
    background: radial-gradient(circle,#4489c8 10%,$c9c-off-white 80%, $c9c-off-white 100%);
    padding: 2rem;
    margin: 0;


    &__logo {
        width: 70vw;
    }

    &__title {
        font-family: $c9c-main-font;
        color: black;
        font-size: 1rem;
        text-align: center;
        margin: 2rem;
        width: 80vw;
            @include tablet {
                font-size: 2rem;
                margin: 8rem;
            }
    }

    &__info {
        text-align: justify;
        color: black;
    }

    &__cta-button {
        @include buttons;
        color: black;
    }
}