@import '../../styles/partials/typeography.scss';
@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/variables.scss';

.hero {
    @include outer-borders;
    @include flex-column-center;
    background: radial-gradient(circle,#4489c8 10%,$c9c-off-white 80%, $c9c-off-white 100%);
    padding: 2rem;
    margin: 0;


    &__logo {
        width: 70vw;
    } &__title {
       @include body-text;
    } &__info {
        @include body-text;
        text-align: center;
    } &__cta-button {
        @include buttons;
        color: $c9c-secondary-color;
    }
}