@import '../../styles/partials/typeography.scss';
@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/variables.scss';

.footer {
    background-color: $c9c-main-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include outer-borders;

    &__info {
        margin: 1rem;
      
    }

    &__title {
        font-family: $c9c-main-font;
        font-size: 1rem
    }

    &__sub-title,
    &__copywrite {
        font-family: $c9c-secondary-fonts;  
        font-size: .75rem;

    }

    &__socials {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

  &__Linkedin,
  &__Instagram,
  &__Facebook,
  &__GitHub,
  &__Shopify {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    justify-content: center;
        @include tablet {
            justify-content: start;

        }

  } 

    &__social-icons {
        width: 25px;
    }

    &__social-titles {
        font-family: $c9c-main-font;
        font-size:.75rem;
        margin: 0 1rem;
        @include hover;
    }
}