@import '../../styles/partials/typeography.scss';
@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/variables.scss';

.contact-page {
    @include outer-borders;
    background-color: $c9c-off-white;
    margin: 0;
    padding: 0;
    &__title {
        @include heading-text;
        padding: 1rem;
    }   
}