@import '../../styles/partials/typeography.scss';
@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/variables.scss';

.home {
    border-top: 1px solid black;
    padding: 0;
    margin: 0;;
    background-color: $c9c-off-white;
    
    &__about {
        @include outer-borders;
        @include flex-column-center;
        background-color: $c9c-off-white;
    } &__about-title {
       @include heading-text;
       color: $c9c-off-white;
    } &__about-description {
       @include body-text;
       text-align: justify;
       padding: 2rem;
            @include tablet {
                max-width: 60%;
            }
        } &__about-profile {
        width: 50%;
        border-radius: 1000px;
        @include box-shadow;
            @include tablet {
                width: 40%;
                @include desktop {
                    width: 20%;
                }
            }
    }

    &__portfolio {
        @include outer-borders;
        @include flex-column-center;
        background-color: $c9c-secondary-color;
        padding: 2rem;
        color: $c9c-off-white;
            @include desktop {
                padding: 6rem;
            }
    } &__portfolio-title {
        @include heading-text;
    } &__portfolio-item {
        @include flex-column-center;
            @include tablet {
              flex-direction: row;
              align-items: center;
              justify-content: space-around;
            }
    } &__portfolio-image {
        width: 90%;
        @include box-shadow;
            @include tablet {
                width: 50%;
            } 
    } &__portfolio-description {
        @include body-text;
        padding: 2rem;
    }


    &__cta {
        @include outer-borders;
        @include flex-column-center;
        padding: 2rem;
    } &__cta-title {
        @include heading-text;
    } &__cta-description {
       @include body-text;
       padding: 2rem;
       text-align: center;
    } &__cta-img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        @include box-shadow;
            @include tablet {
                height: 350px;
                width: 350px;;
            }
    } &__cta-button {
        @include buttons;
        color: $c9c-secondary-color;
    }

    &__cta-link-1 {
        @include buttons;
        color: $c9c-secondary-color;
    } &__cta-link-2 {
        @include buttons;
        color: $c9c-off-white;
    }

}