@import '../../styles/partials/typeography.scss';
@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/variables.scss';

.services {
    @include flex-column-center;
    background-color: $c9c-main-color;
    font-family: $c9c-main-font;
    color: $c9c-off-white;
    text-align: justify;
    @include outer-borders;
        @include tablet {
            padding: 2rem;
        }

    &__title {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin: 2rem;
            @include tablet {
                font-size: 2rem;
            }   
    }

    &__sub-title {
        font-size: 1rem;
        line-height: 2rem;
        font-family: $c9c-secondary-fonts;
        max-width: 80%;
            @include tablet {
                font-size: 1.5rem;
                max-width: 70%;
            }   
    }

    &__cards-container {
        margin: 1rem;
        @include tablet {
            display: flex;
            justify-content: space-around;
        }
    }

    &__card-1,
    &__card-2,
    &__card-3 {
        @include cards;
        text-align: justify;
    }

    &__graphics {
        width: 100%;
        @include color-borders;
        padding: 0;
       
    }

    &__cards-title {
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
            @include tablet {
                font-size: 2.5rem;
        
            }

    }

    &__cards-description {
        font-size: 1rem;
        font-family: $c9c-secondary-fonts;
        line-height: 2rem;
    
    }

    &__learn-more {
        @include buttons;
    }
}
