@import '../../styles/partials/typeography.scss';
@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/variables.scss';

.seo {
    background-color: $c9c-off-white ;
    &__title {
      background-color: $c9c-off-white;
      @include heading-text;
      padding: 2rem;
      margin: 0;
      @include outer-borders;
    } &__top-section {
        @include flex-column-center;
        background-color: $c9c-main-color;
        @include outer-borders;
        padding: 2rem;
        @include tablet {
          flex-direction: row;
          justify-content: space-around;
          padding: 8rem 2rem;
        }
    } &__logo {
          width: 20%;
          margin: 0 2rem;
    } &__sub-title {
          @include body-text;
          color: $c9c-off-white;
          text-align: center;
    } &__graphic {
        width: 100%;
    }
  }

  @keyframes slide {
    100% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  .seo__info {
    display: none;
    overflow: hidden;
    white-space: nowrap;
    background-color: $c9c-off-white;
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  
  .seo__info-section {
    display: inline-block;
    border-bottom: 1px solid black;
    padding: 1rem;
    white-space: normal;
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      animation: slide 20s linear infinite;
      border-left: 1px solid black;
      border-bottom: none;
    }
  }
  
  .seo__info-title {
    font-family: $c9c-main-font;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: .5rem;
  }
  
  .seo__info-desc {
    font-family: $c9c-secondary-fonts;
    color: $c9c-secondary-color;
    font-size: 1rem;
    margin: .5rem;
    line-height: 1.5rem;
    @include tablet {
      width: 30rem;
    }
  }