@import '../../styles/partials/typeography.scss';
@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/variables.scss';

.about {
    @include flex-column-center;
    font-family: $c9c-main-font;
    background-color: $c9c-off-white;
        @include tablet {
            padding: 2rem;
    }
    
    &__title {
        font-size: 2rem;
        color: $c9c-secondary-color;
        text-transform: uppercase;
        margin: 1rem;
            @include tablet {
                margin: 3rem;
            }
    }

    &__profile-img {
        width: 60%;
        margin: 2rem;
        border-radius: 50%;
    }

    &__description {
        font-size: 1rem;
        font-family: $c9c-secondary-fonts;
        line-height: 2rem;
        color: $c9c-secondary-color;
        text-align: justify;
        width: 70%;
        
    }

    &__cards-container {
        flex-wrap: wrap;
        margin: 2rem;
        @include tablet {
            display: flex;
            justify-content: space-around;
        }
    }

    &__card-1,
    &__card-2,  
    &__card-3 {
        @include color-borders;
        @include cards;
        @include hover;
    }

    &__c9c-logo {
        height: 10rem;
        width: 15rem;
        background-color: rgb(194, 217, 243);
        border-radius: 50%;
        margin: 1rem;
        border: 1px solid $c9c-main-color;
    }

    &__cards-title {
        text-transform: uppercase;
        text-align: justify;
        font-size: 1.25rem;
        color: $c9c-secondary-color;
    }

    &__cards-description {
        text-align: justify;
        color: $c9c-main-color;
        font-family: $c9c-secondary-fonts;
        line-height: 1.5rem;
    }

}

