@import '../../styles/partials/typeography.scss';
@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/variables.scss';

.about {
    @include flex-column-center;
    font-family: $c9c-main-font;
    margin: 1rem;
    
    &__title {
        font-size: 1.5rem;
        color: $c9c-secondary-color;
        text-transform: uppercase;
        margin: 1rem;
    }

    &__description {
        font-size: 1rem;
        color: $c9c-secondary-color;
        text-align: center;
        margin: 1rem;
    }

    &__cards-container {
        @include tablet {
            display: flex;
            justify-content: space-around;
        }
    }

    &__c9c-logo {
        height: 75px;
        background-color: rgb(194, 217, 243);
        border-radius: 50%;
        padding: 10px;
        border: 1px solid $c9c-main-color;
    }

    &__cards-title {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.25rem;
        color: $c9c-secondary-color;
    }

    &__cards-description {
        text-align: center;
        color: $c9c-main-color;
        font-family: $c9c-secondary-fonts;
    }

}

.cards {
    @include flex-column-center;
    border: 1px solid $c9c-main-color;
    padding: 1rem;
    margin: 1rem .5rem;
    width: 15rem;
        @include tablet {
            width: 18rem;
            margin: 1rem 2rem;
        }
}