@import '../../styles/partials/typeography.scss';
@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/variables.scss';

.clients {
    @include flex-column-center;
    background-color: $c9c-off-white;
    border-top: 1px solid black;
    padding: 2rem;
    text-align: justify;

    &__title {
        font-family: $c9c-main-font;
        text-align: center;
        margin: 0;
        padding: 1rem;
            @include tablet {
                font-size: 2rem;
            }
    }

    &__list {
        @include flex-column-center;
        justify-content: center;
    }

    &__client-info {
        @include flex-column-center;
        width: 80%;
        margin: 1rem;
        border: 1px solid black;
            @include tablet {
                width: 50%;
                margin: 4rem;
            }
    }

    &__name {
        font-family: $c9c-main-font;
        text-align: center;
        margin: 0;
            @include tablet {
                font-size: 2rem;
                padding: 1rem;
            }
    }

    &__website {
        text-decoration: none;
        margin: 0;
        padding: .5rem;
            @include tablet {
                font-size: 1.5rem;
                padding: 1rem;
            }
    }

    &__job-task {
        margin: 0;
        padding: 1rem;
        line-height: 2rem;
            @include tablet {
                max-width: 70%;
            }
    }
}