@import '../../styles/partials/typeography.scss';
@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/variables.scss';

.about {
    background-color: $c9c-off-white;

    &__intro {
        @include flex-column-center;
        max-width: 80%;
        background-color: white;
        @include box-shadow;
        padding: 1rem;
        margin: 0 auto;
    } &__intro-title {
        @include heading-text;
            @include desktop {
                padding: 4rem;
            }
    } &__prof-img {
        max-width: 50%;
        border-radius: 1000px;
    } &__intro-mission {
      @include body-text;
        text-align: justify;
            @include desktop {
                padding: 4rem;
            }
    }

    &__journey {
        padding: 2rem;
            @include desktop {
                margin: 10rem 0;
            }
    } &__journey-title {
        @include heading-text;
    } &__journey-text {
        @include body-text;
        padding: 1rem .5rem;
            @include desktop {
                padding: 2rem 6rem;
            }
    }

    &__why {
        background-color: $c9c-secondary-color;
        color: $c9c-off-white;
        padding: 2rem;
        @include outer-borders;
    } &__why-title {
        @include heading-text;
    } &__why-text {
        @include body-text;
        text-align: justify;
        padding: 0 1rem;
            @include desktop {
                padding: 2rem 3rem;
            }
    }

    &__values {
        padding: 2rem;
        @include outer-borders
    } &__values-title {
        @include heading-text;
    } &__values-list {
        @include flex-column-center;
        align-items: center;
        justify-content: space-evenly;
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
        }
    } &__values-item {
        display: flex;
        align-items: center;
        font-family: $c9c-main-font;
        color: $c9c-off-white;
        background-color: $triadic-color-2;
        padding: .5rem 1rem;
        margin: 1rem;
        border-radius: 1000px;
            @include desktop {
                font-size: 2rem;
            }
    } &__values-icons {
        height: 30px;
        padding: .5rem;
            @include desktop {
                height: 50px;
            }
    }

    &__services {
        padding: 2rem;
    }   &__services-title {
        @include heading-text;
    }   &__services-text {
        @include body-text;
        padding: 0 1rem;
    }

    &__fun-facts {
        background-color: $c9c-main-color;
        @include outer-borders;
        padding: 2rem;
    } &__fun-facts-title {
        @include heading-text;
        color: $c9c-off-white;
    } &__fun-facts-text {
        @include body-text;
        color: $c9c-off-white;
        text-align: justify;
            @include desktop {
                padding: 2rem 3rem;
                margin: 0 auto;
                max-width: 70%;
            }
    }

    &__cta {
        @include flex-column-center;
        @include outer-borders;
        padding: 2rem;
    }  &__cta-title {
        @include heading-text;
    }  &__cta-text {
        @include body-text;
        max-width: 50%;
    }  &__cta-icon {
        height: 100px;
    } &__cta-link {
        @include buttons;
        color: $c9c-secondary-color;
    }
    
    
    &__graphic {
        width: 80%;
        @include color-borders;
        @include box-shadow;
            @include tablet {
                width: 40%;
            }
    }

    &__container {
        @include flex-column-center;
            @include tablet {
                flex-direction: row-reverse;
            }
    } .container-2 {
        @include tablet{
            flex-direction: row;
        }
    }

}


