@import '../../styles/partials/typeography.scss';
@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/variables.scss';

.header {
    @include flex-column-center;
    justify-content: space-between;
    background-color: $c9c-off-white;
    font-family: $c9c-main-font;
    margin: 0;
    padding: 1rem;
        @include tablet {
            position: -webkit-sticky; 
            position: sticky;
            top: 0;
            z-index: 1000;
            flex-direction: row;
            height: 50px;
        }
        &.header--scrolled {
            background-color: rgba(255, 255, 255, 0.6); 
            backdrop-filter: blur(10px); 
            -webkit-backdrop-filter: blur(10px);
            transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
          }

    &__title {
        font-size: 1.5rem;
        color: $c9c-main-color;
        text-transform: uppercase;
    }

    &__menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
            @include tablet {
                flex-direction: row;
            }
    }

    &__menu-item {
        a {
          text-decoration: none;
          color: $c9c-secondary-color; 
          transition: color 0.3s ease;
        }
      
        &.active a {
          color: $c9c-main-color; // Use your brand's main color when active
        }
      
        @include tablet {
          padding: 0 1rem;
        }
      }

}

.header__menu-item.active a {
    color: $c9c-main-color; 
}

.header--scrolled {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.dashboard-link {
    @include buttons;
    font-size: .75rem;
}